.tray {
  //margin-right: 0.5rem;
  border-radius: 1rem;
  transition:
    padding 0.2s linear,
    background 0.1s linear;

  &.toggled {
    padding: 0.5rem;
    background: rgba(#383838, $opacity);
  }

  button+revealer {
    button {
      margin-left: 0.5rem;
    }
  }

  revealer+revealer {
    button {
      margin-left: 0.5rem;
    }
  }

  button {
    >image {
      transition: -gtk-icon-transform 0.2s linear;
    }
  }
}
