stack {
  >.calendar {
    .header {}

    .month+.year {
      margin-left: 0.5rem;
    }

    .year {
      color: rgba(#ffffff, $opacity);
    }

    button {
      @include icon-button(#ffffff, #242424);
    }

    .calendar {
      padding: 1rem;
      margin-top: 0.5rem;
      border-radius: 1rem;
      background: #383838;

      grid {
        label {
          padding: 0.9rem 0;

          &.today {
            font-weight: bold;
            border-radius: 50%;
            background: $blue-3;
          }

          &.off {
            color: rgba(#ffffff, $opacity);
          }
        }
      }
    }
  }
}
