.notification-center {
  padding: 1rem;
  margin: 1rem 0;
  border: $border-width solid border-color(#ffffff);
  border-radius: 1rem;
  background: #242424;

  .header {
    >label {
      //font-size: 1.1rem;
    }

    >button {
      @include icon-button(#ffffff, #383838);

      padding: 0.5rem 0.7rem;

      label {
        //margin-right: 0.5rem;
      }
    }
  }

  >separator {
    margin: 0.5rem 0;
    min-height: $border-width;
    border-radius: 2rem;
    background: border-color(#ffffff);
  }

  revealer+revealer {
    box {
      margin-top: 1rem;
    }
  }

  .notification {
    padding: 1rem;
    border-radius: 1rem;
    background: #383838;

    .title {
      font-weight: bold;
    }

    >separator {
      margin: 0.5rem 0;
      min-height: $border-width;
      border-radius: 2rem;
      background: border-color(#ffffff);
    }

    .body {}

    &.critical {
      border: $border-width solid border-color(#ffffff);
      background: $error-bg;
    }
  }
}
