stack {
  >.system-monitor {
    .cpu+.memory {
      margin-top: 1rem;
    }

    .cpu,
    .memory {
      padding: 1rem;
      margin-top: 0.5rem;
      border-radius: 1rem;
      background: #383838;

      label+label {
        color: rgba(#ffffff, $opacity);
        margin-left: 0.5rem;
      }

      label {
        margin-bottom: 0.5rem;
      }

      progressbar {
        trough {
          min-height: 1rem;
          border-radius: 2rem;
          background: lighten(#383838, 10%);

          progress {
            min-width: 1rem;
            min-height: 1rem;
            border-radius: 2rem;
          }
        }
      }
    }

    .cpu {
      progressbar {
        trough {
          progress {
            background: $blue-3;
          }
        }
      }
    }

    .memory {
      progressbar {
        trough {
          progress {
            background: $purple-3;
          }
        }
      }
    }

    .temperature {
      padding: 1rem;
      margin-top: 0.5rem;
      margin-left: 1rem;
      border-radius: 1rem;
      background: #383838;

      progressbar {
        trough {
          min-width: 1rem;
          border-radius: 2rem;
          background: lighten(#383838, 10%);

          progress {
            min-width: 1rem;
            min-height: 1rem;
            border-radius: 2rem;
            background: linear-gradient($yellow-3, $yellow-5);
          }
        }
      }

      label {
        color: rgba(#ffffff, $opacity);
        margin-top: 0.5rem;
      }
    }

    .random {
      padding: 1rem;
      margin-top: 1rem;
      border-radius: 1rem;
      background: #383838;

      label+label {
        color: rgba(#ffffff, $opacity);
        margin-left: 0.5rem;
      }
    }
  }
}
