.notification-popups {
  revealer+revealer {
    box {
      margin-top: 1rem;
    }
  }

  .notification {
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    min-width: 24rem;
    border: 0.1rem solid border-color(#ffffff);
    border-radius: 1rem;
    background: #242424;

    .title {
      font-weight: bold;
    }

    >separator {
      margin: 0.5rem 0;
      min-height: $border-width;
      border-radius: 2rem;
      background: border-color(#ffffff);
    }

    &.critical {
      border: $border-width solid border-color(#ffffff);
      background: $error-bg;
    }
  }
}
